In [4]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.utils import plot_model
from tensorflow.keras.layers.experimental import preprocessing

from os import path, getcwd, listdir, chdir
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

In [1]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [2]:
SEED = 121

In [45]:
data = pd.read_csv('./data/train_set_v3.txt', sep='\t')
data.columns = ['hybrid', 'trial', 'year', 'location', 'yields',
                 'inbred1', 'inbred2', 
                 'genetic_inb1', 
                 'genetic_inb2', 'trial_cl1', 'trial_cl2']

In [46]:
# data = data.drop(columns=['hybrid'])
data.fillna('UNK', inplace=True) 
data = data.sample(len(data), replace=False, random_state=SEED)
train, test = train_test_split(data, test_size=0.1, random_state=SEED)
val, test = train_test_split(test, test_size=0.3, random_state=SEED)
print(len(train), 'train examples')
print(len(val), 'validation examples')
print(len(test), 'test examples')

488620 train examples
38004 validation examples
16288 test examples

In [48]:
drop = ['hybrid', 'trial', 'year', 'location', 'yield', 
                 'genetic_inb1', 
                 'genetic_inb2', 'trial_cl1', 'trial_cl2']
# data['yield'] = data['yield'].astype(float)
# d = val.iloc[:20, [4, 5, 6]]
# d.columns = ['y', 'x']
model = ols('yields ~ inbred1 + inbred2', data=train).fit()

MemoryError: Unable to allocate 16.7 GiB for an array with shape (4587, 488620) and data type float64

In [42]:
model

         yield      inbred1
472840  246.85  parent_3341
222698  227.35  parent_3363
367551  195.74  parent_1327
236212  190.51  parent_1552
85830   194.99  parent_2747
75328   237.94  parent_2412
307166  265.52  parent_1685
129659  233.20    parent_41
292471  180.75  parent_2360
134276  216.47    parent_41
474106  155.46  parent_2683
222555  204.14  parent_3363
187185  199.45  parent_2644
278090  224.34  parent_2675
349261  215.28  parent_1904
473423  213.95  parent_2683
129920  151.43    parent_41
477495  144.02  parent_2159
247041  259.27  parent_2826
483730  213.20  parent_4230

In [1]:
import tensorflow as tf
tf.test.gpu_device_name()

'/device:GPU:0'

In [2]:
tf.__version__

'2.4.0'

In [3]:
import sys
sys.argv

['c:\\users\\martb\\.conda\\envs\\dlenv\\lib\\site-packages\\ipykernel_launcher.py',
 '-f',
 'C:\\Users\\martb\\AppData\\Roaming\\jupyter\\runtime\\kernel-287d63dc-86c6-4636-91b9-5a6610a5bebe.json']

In [2]:
!pip install pydot

Requirement already satisfied: pydot in c:\users\martb\.conda\envs\dlenv\lib\site-packages (1.4.2)
Requirement already satisfied: pyparsing>=2.1.4 in c:\users\martb\.conda\envs\dlenv\lib\site-packages (from pydot) (2.4.7)

In [4]:
import tensorflow as tf
gpus = tf.config.experimental.list_physical_devices('GPU')

In [5]:
gpus

[PhysicalDevice(name='/physical_device:GPU:0', device_type='GPU')]